name: Update imports

on:
  workflow_dispatch:
  schedule:
    - cron: "37 11 * * *"

jobs:
  import-icalendar:
    name: Update iCalendar imports
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: icalendar
      - name: Get dancelist version
        run: echo "HEAD=$(git ls-remote https://github.com/qwandor/dancelist HEAD|cut -f1)" >> $GITHUB_OUTPUT
        id: version
      - name: Cache .cargo and target
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-install-${{ steps.version.outputs.HEAD }}
      - name: Install dancelist
        run: cargo install --git https://github.com/qwandor/dancelist
      - name: Import balfolknl
        run: dancelist import balfolknl events/netherlands/balfolk_nl.yaml
      - name: Import cdss
        run: dancelist import cdss events/usa/cdss.yaml
      - name: Commit if changed
        run: |
          git add events/netherlands/balfolk_nl.yaml events/usa/cdss.yaml
          git config user.name "Automatic import"
          git config user.email "dancelist-import@users.noreply.github.com"
          if git commit -m "Update import."
          then
            git push
          fi
  import:
    name: Update imports
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - branch: folkbalbende
            name: balbende
            file: events/belgium/folkbalbende.yaml
          - branch: trycontra
            name: trycontra
            file: events/usa/trycontra.yaml
          - branch: webfeet
            name: webfeet
            file: events/uk/webfeet.yaml
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - name: Get dancelist version
        run: echo "HEAD=$(git ls-remote https://github.com/qwandor/dancelist HEAD|cut -f1)" >> $GITHUB_OUTPUT
        id: version
      - name: Cache .cargo and target
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-install-${{ steps.version.outputs.HEAD }}
      - name: Install dancelist
        run: cargo install --git https://github.com/qwandor/dancelist
      - name: Import
        run: dancelist import ${{ matrix.name }} ${{ matrix.file }}
      - name: Commit if changed
        run: |
          git add ${{ matrix.file }}
          git config user.name "Automatic import"
          git config user.email "dancelist-import@users.noreply.github.com"
          if git commit -m "Update import."
          then
            git push
          fi
